html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #252627;
  font-family: 'Fira Code', monospace;
  color: #F0F0F0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
